.you-1 {
    color: #22023b;
    line-height: 80px;
    font-size: 48px;
    font-weight: 500;
    position: absolute;font-family: 'Poppins';
    font-style: normal;
width: 364px;
height: 162px;
left: 120px;
top: 176px;
}
.house-up-1 {
    color: #2c2b2b;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500; position: absolute;
    width: 686px;
    height: 108px;
    left: 121px;
    top: 338px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
  }
.abt-1 {
    position: absolute;
width: 504.74px;
height: 345px;
left: 700px;
top: 220px;
}